# Environment variables and secrets
.env
.env.*
*.secret*
**/secrets.yaml
**/credentials/*
*.pem
*.key
*.crt

# IDE files
.idea/
.vscode/

# Logs
*.log

# Dependencies
vendor/
node_modules/
**/node_modules/

# Build artifacts
bin/
dist/
tmp/
pkg/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend specific
dist/
.next/

# Docker
docker-compose.override.yml

# Firebase
**/credentials/*