# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore IDE-specific files
.idea/
*.iml
*.swp
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build artifacts
/backend/bin/
/backend/pkg/
/frontend/dist/
/frontend/node_modules/